.release-book-left{
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to left bottom, #ffffff, #f8f6fe, #f4ebfc, #f2e1f8, #f1d6f3);
}
.release-book-left-inside{
    margin: 0 3rem;
}
.release-book-img{
    width: 95%;
    cursor: pointer;
}
.release-book-left-inside-text1{
    font-size: 4rem;
}
.release-book-left-inside-text2{
    font-size: 5rem;
    font-weight: bold;
    color: #dc3545;
}
.release-book-left-inside-text3{
    font-size: 3rem;
    color: #DDD;
}
.release-book-left-btn{
    width: 50%;
    height: 5rem;
}

.release-book-right{
    display: flex;
    flex-direction: column;

}
.release-book-right-list-card1{
    flex-grow: 1;
    display: flex;
}
.release-book-right-list-card2{
    flex-grow: 1;
    display: flex;
}
.release-book-container{
    height: 98rem;
}

